@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
img {
  width: 60px;
  height: 60px;
}

* {
  box-sizing: border-box;
}

body  {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  color: white;
}

.navbar-link ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-link li {
  list-style: none;

}

.navbar-link li a  {
  text-decoration: none;
  color: black;
  padding: 1rem;
  display: block;
  font-family: 'Lato', sans-serif;
  font-size: 1.2rem;
}

.navbar-link li:hover {
  background-color: rgb(194, 194, 194);
}

.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}

@media (max-width: 500px) {
  img {
    width: 45px;
    height: 45px;
  }

  .toggle-button{
      display: flex;
  }

  .navbar-link {
      display: none;
      width: 100%;
  }

  .navbar{
      flex-direction: column;
      align-items: flex-start;
  }

  .navbar-link ul {
      width: 100%;
      flex-direction: column;
  }

  .navbar-link li {
      text-align: center;
  }

  .navbar-link li a {
      padding:  .5rem 1rem;
  }

  .navbar-link.active {
      display: flex;
  }

}
