.header {
    display: flex;
    justify-content: space-around;
}

.header img {
  width: 60px;
  height: 60px;
}

.header ul {
  display: flex;
  list-style: none;
}

li {
  margin: 10%
}

a {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

@media only screen and (max-width: 900px) {
  .header {
    justify-content: space-between;
  }

  .header img {
    width: 45px;
    height: 45px;
  }
  ul {
    display: none;
  }
}
