.perfil {
  text-align: center;
}
.perfil img {
  border-radius: 50%;
}

.perfil h1 {
  margin: 3%;
  font-size: 3em ;
}

.container {
  display: flex ;
  justify-content: center;
}

.card {
  width: 20%;
}

.return {
  margin-left: 3%;
  margin-top: 3%;
}

@media only screen and (max-width: 900px) {
  .container {
    flex-direction: column;
  }
  .info-card {
    text-align: center;
  }
  .episodio-card {
    text-align: center;
  }
  .episodio-card h1 {
    text-align: center;
    margin: 20px;
  }

  .card {
    width: auto;
  }
}

